@import "@/assets/styles/_mixins.scss";

.counter {
	display: flex;
	flex-direction: column;

	&__value {
		text-transform: uppercase;
		line-height: 48px;
		font-size: 48px;
		font-weight: 700;
	}

	&__name {
		color: var(--color-white-glassed-300);
		font-size: 18px;
		font-weight: 400;
	}

	&_size-sm {
		.counter__value {
			font-size: 28px;
		}

		.counter__name {
			font-size: 14px;
		}
	}
}