@import "@/assets/styles/_mixins.scss";

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	max-width: 1280px;
	padding: 40px 0 35px 0;

	@include breakpoint(phone-portrait) {
		max-width: 100%;
		padding: 15px;
		align-items: center;
	}

	&_absolute {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		align-items: flex-end;
	}

	&[data-container-role="currencies"] {
		z-index: var(--z-page-main-currencies);
	}

	&[data-container-role="feedback"] {
		z-index: var(--z-page-main-feedback);
	}

	&[data-container-role="content"] {
		z-index: var(--z-page-main-content);
	}
}

.currency {
	position: absolute;
	height: 40vh;

	&_bitcoin {
		top: 0;
		right: 0;
	}

	&_litecoin {
		top: 50%;
		transform: translateY(-50%);
		right: 30vh;
	}

	&_ethereum {
		bottom: 0;
		right: 0;
	}

	@include breakpoint(phone-portrait) {
		height: 30vmax;
		width: 30vmax;

		&_litecoin {
			top: 27vmax;
			right: 22vh;
		}

		&_ethereum {
			top: calc(30vmax + 45px);
		}
	}
}

.feedback-cards {
	z-index: var(--z-page-main-feedback);
	position: absolute;
	width: 400px;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	gap: 20px;

	> *:nth-child(odd) {
		margin-left: auto;
	}
}

.page {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: var(--color-black);

	&__title {
		text-transform: uppercase;
		line-height: 120%;
		color: var(--color-white);
		max-width: 90%;
		font-size: 84px;
		font-weight: 700;

		@include breakpoint(phone-portrait) {
			font-size: 40px;
			text-align: center;
			word-break: break-word;
		}
	}

	&__verbose {
		color: var(--color-grey);
		font-size: 34px;

		@include breakpoint(phone-portrait) {
			font-size: 20px;
			text-align: center;
		}
	}

	&__counters {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: min(532px, 100%);
	}

	&__button {
		width: min(532px, 100%);
	}

	&__stores {
		display: flex;
		align-items: center;
		gap: 20px;
	}
}
