.container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	margin: 0 auto;

	max-width: 1280px;

	&_absolute {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		align-items: flex-end;
	}

	&_role-content {
		z-index: var(--z-page-main-content);
	}

	&_role-currencies {
		z-index: var(--z-page-main-currencies);
	}

	&_role-feedback {
		z-index: var(--z-page-main-feedback);
	}
}

.currency {
	position: absolute;
	height: 40vh;

	&_bitcoin {
		top: 0;
		right: 0;
	}

	&_litecoin {
		top: 50%;
		transform: translateY(-50%);
		right: 30vh;
	}

	&_ethereum {
		bottom: 0;
		right: 0;
	}
}

.feedback {
	z-index: var(--z-page-main-feedback);
	position: absolute;
	width: 400px;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	gap: 20px;

	> *:nth-child(odd) {
		margin-left: auto;
	}
}

.page {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: var(--color-black);
	padding: 40px 0 35px 0;

	&__title {
		text-transform: uppercase;
		line-height: 120%;
		font-size: 84px;
		font-weight: 700;
		color: var(--color-white);
		max-width: 90%;
	}

	&__verbose {
		color: var(--color-grey);
		font-size: 34px;
	}

	&__counters {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 45%;
	}

	&__button {
		max-width: 42%;
	}

	&__stores {
		display: flex;
		align-items: center;
		gap: 20px;
	}
}
